body {
    background-color: lightcyan;
}

#hobbies-title {
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}

#image1, #image2, #image3 {
    width: 350px;
    height: 400px;
    margin: auto;
    padding-top: 30px;
    border-color: black;
}

#hobby-card-1, #hobby-card-2, #hobby-card-3 {
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
    border-color: black;
    margin: 20px;
}

h4 {
    font-weight: bold;
}

.container {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}