body {
    background-color: #f4f4f4;
}

.project-section {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    border: 10px solid black;
  }
  
.project-section img {
    width: page;
    height: auto;
    opacity: 0.7;
    border: 1px solid black;
  }
  
.project-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
  }

#b1 {
    font-size: 40px; /* Adjust the size as needed */
    padding: 10px 20px; /* Top & Bottom, Left & Right padding */
  }
  
.project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30vh; /* Adjust height as needed */
    margin: 50px auto;
    background-blend-mode: hue;
    background-size: cover; /* Cover the entire div area */
    background-position: center; /* Center the background image */
    text-align: center;
}

#p1 {
    border: 5px solid black;
    background-image: url('../img/computer-vision2.jpeg');
}

.project-title {
    color: white; /* Adjust text color for visibility */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    position: relative;
    z-index: 2;
}




    